

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
  }
  
  .tab-menu {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }
  
  .tab-menu button {
    flex: 1;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    color: #666;
    text-align: center;
  }
  
  .tab-menu .active {
    color: #c3da31;
    font-weight: bold;
    border-color: #c3da31;
    border-bottom: 2px solid #c3da31;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .modal-body label {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    font-weight: 500;
    color: #282727;
  }
  
  .modal-body input {
    padding: 12px;
    border: none;
    border-top: 2px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    color: #282727;
    margin-bottom: 15px;
   
  }
  
  .modal-body input::placeholder {
    color: #aaa;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
  }
  
  .cancel-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    left: 10px;
    color: #666;
  }
  
  .save-button {
    background-color: #c3da31;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }
  
  .save-button:hover {
    background-color: #d7ed49;
  }
  